<section id="about">
  <div class="flex">
    <div class="col-2">
      <img src="assets/img/about-cleaners.png" class="about-img">
    </div>

     <div class="col-2">
      <h3 class="section-title">ABOUT MOE CLEAN &amp; MORE</h3>
      <p>My name is Maureen Nauslar, I started Moe Clean & More in 1995 to support my son's choice of sport, to be a competitive gymnast.  While working full time at KWCH-TV, I started cleaning for co-workers; many whom I still clean for.  I was laid off in 2009 and decided to go Full-Time with Moe Clean & More and bring in co-workers to help Moe Clean & More grow.  It is now 2016 and I am very happy with the choices I made; that made Moe Clean & More a successful company!
      </p>
      <br>
      <p>
        &#9679; I am a reliable and honest person that has an eye for detail.  I work hard to give my customers what they expect & pay for.
      </p>
      <br>
      <p>
        &#9679; I am affordable; this is a competitive business and we work hard to give you a quality cleaning!
      </p>
    </div>

  </div>
</section>
