<section id="client">
  <div class="flex">
    <div class="col-2">
     <h3 class="section-title">WHAT CUSTOMERS ARE SAYING</h3>
       <div class="client-container">
       <ul class="faces">
        <li class="face1 face"><div class="bubble">I like the energy boost that having a clean home gives me and I am happy that I can have the satisfaction that comes from having a clean home!</div></li>
         <li class="face2 face"><div class="bubble">Very professional and courteous; the house was left smelling pleasantly clean but not aggressively sanitized.</div></li>
      </ul>
      </div>
     </div>
     <div class="col-2" id="jobs">
      <h3 class="section-title">LOOKING FOR A JOB?</h3>
      <p>Must be honest and dependable; showing up to jobs on the set day and time that is scheduled by the customer.</p><br>
      <p>Highly energetic person, must be a quick learner, must be able to multi-task and capable of completing work in a timely manner.  Dress is casual as long as you are well groomed.</p><br>
      <p>&#9679; Must have your own car!</p><br>
      <p>&#9679; Must have a cell phone!</p><br>
      <p>&#9679; P/T positions available.  Hours vary from 8am-5pm, Sun.-Sat.</p><br>
      <p>Competitive hourly wage.  Will receive an advance in pay when you are capable of working at houses without supervision.  Then you will receive a 6 a month review and a raise at your 1 year review anniversary, as merited.  Paid daily as jobs are completed.</p>
      <div class="job-cta-box">
      <a href="#form-section" class="job-cta">JOIN THE TEAM</a>
      </div>
    </div>


  </div>
</section>
