<section id="contact">

     <div class="flex">
    <div class="col-2">

      <div class="contact-conatiner">

      <img src="assets/img/moeClean-sm.png" class="contact-logo">
      <img src="assets/img/moeProfile.jpg" class="contact-profile">
      <h4>Maureen Nauslar</h4>
      <ul>
        <li>MNauslar@gmail.com</li>
        <li>316-263-6969</li>
        <li>Wichita, Kansas and Surrounding Area</li>
      </ul>

      <hr>

      <h4>Coworkers</h4>
       <ul>
        <img src="assets/img/susan.jpg" class="contact-workers">
        <li><b>Susan</b></li>
        <img src="assets/img/face1.png" class="contact-workers">
        <li><b>Rosio</b></li>
      </ul>

      </div>

    </div>
    <div class="col-2">
      <h3 id="form-section">LET'S START CLEANING, CONTACT ME</h3>

      <div class="form-container">

      <form method="POST" action="https://formspree.io/MNauslar@gmail.com">
        <input type="text" name="name" placeholder="Name *">
        <input type="text" name="company" placeholder="Company">
        <input type="email" name="_replyto" placeholder="E-Mail *">
        <input type="text" name="phone" placeholder="Phone">
        <input type="text" name="inquiring" placeholder="Inquiring * (ex..Cleaning or Job?)">
        <textarea name="message" placeholder="Message *"></textarea>
        <input type="submit" value="Send" class="send-cta">
      </form>

      </div>

       <hr>
       <div class="payment-section">
       <h4 id="payment">Payment Options</h4>
       <p ><b>Cash</b> or <b>Check</b> Accepted Now, pay by <b>Debit & Credit Card</b> coming soon.</p>
       </div>
    </div>
  </div>
  <footer>
    <a href="#header" class="footer-nav-text">Home</a>
    <a href="#about" class="footer-nav-text">About</a>
    <a href="#services" class="footer-nav-text">Services</a>
    <a href="#jobs" class="footer-nav-text">Jobs</a>
    <a href="#contact" class="footer-nav-text">Contact</a>
    <p class="copyright">Copyright 2016 &#169 MoeCleanandMore.com | Developed by: Chris Nauslar | <a href="www.nausdesign.com">NausDesign</a></p>
  </footer>
</section>
