<div class="device-background">
  <div class="device-text">
    <h4>We Now Deliver</h4>
    <p>Want ramen from the comfort of your home? Download this free and easy to use app to start your order.
        <h4>Download Phone App</h4>
        <a href="https://itunes.apple.com/us/app/fetch-neighbor/id1200509675?mt=8" class="download-cta">APPLE</a>
        <a href="https://play.google.com/store/apps/details?id=com.appspotr.id_807514447798076724" class="download-cta">ANDROID</a>
    </p>
  </div>
  <div class="device">
    <div class="screen"></div>
  </div>
</div>
