<div id="js-parallax-window" class="parallax-window">

  <header class="centered-navigation" role="banner">
    <div class="centered-navigation-wrapper">
      <a href="javascript:void(0)" class="mobile-logo">
        <img src="assets/img/logo_svg.svg" alt="Logo image">
      </a>
      <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENU</a>
      <nav role="navigation">
        <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
          <li class="nav-link"><a href="#js-parallax-window">Home</a></li>
          <li class="nav-link"><a href="#js-fadeInElement">About Us</a></li>
          <li class="nav-link"><a href="#menu">Menu</a></li>
          <li class="nav-link logo">
            <a href="javascript:void(0)" class="logo">
              <img src="assets/img/logo_svg.svg" alt="Logo image">
            </a>
          </li>
          <li class="nav-link"><a href="#map_canvas">Location</a></li>
          <li class="nav-link"><a href="#contact">Contact</a></li>
          <li class="nav-link"><a href="#newsletter">News Letter</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="parallax-static-content">
    <img src="assets\img\Yokohama-banner.png" alt="Logo hero">
  </div>
  <div id="js-parallax-background" class="parallax-background"></div>
</div>
