  <div id="menu" class="menuBG">
  <h3 class="section-title">MENU</h3>
  <hr>
<div class="modal">
<div class="cards">
  <div class="card">
    <div class="card-image">
      <label for="modal-1">
        <div class="modal-trigger"><img src="assets/img/menu/menu1.jpg" alt="Image of menu"></div>
      </label>
    </div>
    <div class="card-header">
      Menu
    </div>
    <div class="card-copy">
      <p>Page One.</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <label for="modal-2">
        <div class="modal-trigger"><img src="assets/img/menu/menu2.jpg" alt="Image of menu"></div>
      </label>
    </div>
    <div class="card-header">
      Drinks
    </div>
    <div class="card-copy">
      <p>Page two.</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <label for="modal-3">
        <div class="modal-trigger"><img src="assets/img/menu/menu3.jpg" alt="Image of menu"></div>
      </label>
    </div>
    <div class="card-header">
      Appetizers
    </div>
    <div class="card-copy">
      <p>Page three.</p>
    </div>
  </div>

<div class="card">
  <div class="card-image">
    <label for="modal-4">
      <div class="modal-trigger"><img src="assets/img/menu/menu4.jpg" alt="Image of menu"></div>
    </label>
  </div>
  <div class="card-header">
    Appetizers
  </div>
  <div class="card-copy">
    <p>Page four.</p>
  </div>
</div>

<div class="card">
  <div class="card-image">
    <label for="modal-5">
      <div class="modal-trigger"><img src="assets/img/menu/menu5.jpg" alt="Image of menu"></div>
    </label>
  </div>
  <div class="card-header">
    Noodles
  </div>
  <div class="card-copy">
    <p>Page five.</p>
  </div>
</div>

<div class="card">
  <div class="card-image">
    <label for="modal-6">
      <div class="modal-trigger"><img src="assets/img/menu/menu6.jpg" alt="Image of menu"></div>
    </label>
  </div>
  <div class="card-header">
    Shoyu
  </div>
  <div class="card-copy">
    <p>Page six.</p>
  </div>
</div>

  <div class="card">
    <div class="card-image">
      <label for="modal-7">
        <div class="modal-trigger"><img src="assets/img/menu/menu7.jpg" alt="Image of menu"></div>
      </label>
    </div>
    <div class="card-header">
      Toppings
    </div>
    <div class="card-copy">
      <p>Page seven.</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <label for="modal-8">
        <div class="modal-trigger"><img src="assets/img/menu/menu8.jpg" alt="Image of menu"></div>
      </label>
    </div>
    <div class="card-header">
      Toppings
    </div>
    <div class="card-copy">
      <p>Page eight.</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <label for="modal-9">
        <div class="modal-trigger"><img src="assets/img/menu/menu9.jpg" alt="Image of menu"></div>
      </label>
    </div>
    <div class="card-header">
      Rice Dishes
    </div>
    <div class="card-copy">
      <p>Page nine.</p>
    </div>
  </div>

<div class="card">
  <div class="card-image">
    <label for="modal-10">
      <div class="modal-trigger"><img src="assets/img/menu/menu10.jpg" alt="Image of menu"></div>
    </label>
  </div>
  <div class="card-header">
    Rice Dishes
  </div>
  <div class="card-copy">
    <p>Page ten.</p>
  </div>
</div>

<div class="card">
  <div class="card-image">
    <label for="modal-11">
      <div class="modal-trigger"><img src="assets/img/menu/menu11.jpg" alt="Image of menu"></div>
    </label>
  </div>
  <div class="card-header">
    Vegetarian
  </div>
  <div class="card-copy">
    <p>Page eleven.</p>
  </div>
</div>

<div class="card">
  <div class="card-image">
    <label for="modal-12">
      <div class="modal-trigger"><img src="assets/img/menu/menu12.jpg" alt="Image of menu"></div>
    </label>
  </div>
  <div class="card-header">
    Vegetarian
  </div>
</div>

<div class="card">
  <div class="card-image">
    <label for="modal-13">
      <div class="modal-trigger"><img src="assets/img/menu/menu13.jpg" alt="Image of menu"></div>
    </label>
  </div>
  <div class="card-header">
    Desserts
  </div>
  <div class="card-copy">
    <p>Page eleven.</p>
  </div>
</div>

<div class="card">
  <div class="card-image">
    <label for="modal-14">
      <div class="modal-trigger"><img src="assets/img/menu/menu14.jpg" alt="Image of menu"></div>
    </label>
  </div>
  <div class="card-header">
    We Deliver
  </div>
</div>
<!-- The Menu Modals -->

  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-1"></div>
      <h3>Menu</h3>
      <p class="modal-content"><img src="assets/img/menu/menu1.jpg" alt="Image of menu"></p>
    </div>
  </div>

  <input class="modal-state" id="modal-2" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-1"></div>
      <h3>Drinks</h3>
      <p class="modal-content"><img src="assets/img/menu/menu2.jpg" alt="Image of menu"></p>
    </div>
  </div>

  <input class="modal-state" id="modal-3" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-1"></div>
      <h3>Appetizers</h3>
      <p class="modal-content"><img src="assets/img/menu/menu3.jpg" alt="Image of menu"></p>
    </div>
  </div>

  <input class="modal-state" id="modal-4" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-1"></div>
      <h3>Appetizers</h3>
      <p class="modal-content"><img src="assets/img/menu/menu4.jpg" alt="Image of menu"></p>
    </div>
  </div>

  <input class="modal-state" id="modal-5" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-1"></div>
      <h3>Noodles</h3>
      <p class="modal-content"><img src="assets/img/menu/menu5.jpg" alt="Image of menu"></p>
    </div>
  </div>

  <input class="modal-state" id="modal-6" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-1"></div>
      <h3>Shoyu</h3>
      <p class="modal-content"><img src="assets/img/menu/menu6.jpg" alt="Image of menu"></p>
    </div>
  </div>

  <input class="modal-state" id="modal-7" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-1"></div>
      <h3>Toppings</h3>
      <p class="modal-content"><img src="assets/img/menu/menu7.jpg" alt="Image of menu"></p>
    </div>
  </div>

  <input class="modal-state" id="modal-8" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-1"></div>
      <h3>Toppings</h3>
      <p class="modal-content"><img src="assets/img/menu/menu8.jpg" alt="Image of menu"></p>
    </div>
  </div>

  <input class="modal-state" id="modal-9" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-1"></div>
      <h3>Rice Dishes</h3>
      <p class="modal-content"><img src="assets/img/menu/menu9.jpg" alt="Image of menu"></p>
    </div>
  </div>

  <input class="modal-state" id="modal-10" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-1"></div>
      <h3>Rice Dishes</h3>
      <p class="modal-content"><img src="assets/img/menu/menu10.jpg" alt="Image of menu"></p>
    </div>
  </div>

  <input class="modal-state" id="modal-11" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-1"></div>
      <h3>Vegetarian</h3>
      <p class="modal-content"><img src="assets/img/menu/menu11.jpg" alt="Image of menu"></p>
    </div>
  </div>

  <input class="modal-state" id="modal-12" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-1"></div>
      <h3>Vegetarian</h3>
      <p class="modal-content"><img src="assets/img/menu/menu12.jpg" alt="Image of menu"></p>
    </div>
  </div>

  <input class="modal-state" id="modal-13" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-1"></div>
      <h3>Desserts</h3>
      <p class="modal-content"><img src="assets/img/menu/menu13.jpg" alt="Image of menu"></p>
    </div>
  </div>

  <input class="modal-state" id="modal-14" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-1"></div>
      <h3>We Deliver</h3>
      <p class="modal-content"><img src="assets/img/menu/menu14.jpg" alt="Image of menu"></p>
    </div>
  </div>


</div>

</div>
</div>
