  <div id="menu" class="menuBG">
  <h3 class="section-title">MENU</h3>
  <hr>
<div class="cards">
  <div class="card">
    <div class="card-image">
      <img src="assets/img/menu/Menu1.jpg" alt="Image of menu">
    </div>
    <div class="card-header">
      Menu
    </div>
    <div class="card-copy">
      <p>Page one.</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <img src="assets/img/menu/Menu2.jpg" alt="Image of menu">
    </div>
    <div class="card-header">
      Appetizers
    </div>
    <div class="card-copy">
      <p>Page two.</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <img src="assets/img/menu/Menu3.jpg" alt="Image of menu">
    </div>
    <div class="card-header">
      Noodles
    </div>
    <div class="card-copy">
      <p>Page three.</p>
    </div>
  </div>

<div class="card">
  <div class="card-image">
    <img src="assets/img/menu/Menu4.jpg" alt="Image of menu">
  </div>
  <div class="card-header">
    Toppings and Extras
  </div>
  <div class="card-copy">
    <p>Page four.</p>
  </div>
</div>

<div class="card">
  <div class="card-image">
    <img src="assets/img/menu/Menu5.jpg" alt="Image of menu">
  </div>
  <div class="card-header">
    Salads
  </div>
  <div class="card-copy">
    <p>Page five.</p>
  </div>
</div>

<div class="card">
  <div class="card-image">
    <img src="assets/img/menu/Menu6.jpg" alt="Image of menu">
  </div>
  <div class="card-header">
    Desserts
  </div>
  <div class="card-copy">
    <p>Page six.</p>
  </div>
</div>

</div>
</div>
