<section id="newsletter">
<h3>NEWS LETTER</h3>

<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<div id="mc_embed_signup">
<form action="//wichitaramen.us14.list-manage.com/subscribe/post?u=8c8ef147083baf35064bca69a&amp;id=01b089d140" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <div id="mc_embed_signup_scroll">
  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter your email address" required>
  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_27307309626271cbec3a7f39b_8f3f4f8884" tabindex="-1" value=""></div>
  <div class="clear"><input type="submit" value="SUBSCRIBE" name="subscribe" id="mc-embedded-subscribe" class="send-cta"></div>
  </div>
</form>
</div>
<!--End mc_embed_signup-->
<div class="form-text">
  <p>
    Please subscribe to our FREE News Letter.  Stay up to date with any special deal at Yokohama Ramen Joint.
  </p>
</section>
