<section id="press" class="col-1">
<ul class="bullets">
  <li class="bullet">
    <div class="bullet-icon bullet-icon-1">

    </div>
    <div class="bullet-content">
      <h2>US Today</h2>
      <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3D2071313526434178%26id%3D1728146107417590&width=500" width="300" height="662" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
      </div>
  </li>
  <li class="bullet">
    <div class="bullet-icon bullet-icon-2">

    </div>
    <div class="bullet-content">
      <h2>Wichita by E.B.</h2>
      <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3D2071763666389164%26id%3D1728146107417590&width=500" width="300" height="474" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
      </div>
  </li>
  <li class="bullet">
    <div class="bullet-icon bullet-icon-3">

    </div>
    <div class="bullet-content">
      <h2>Dining With Denise</h2>
      <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3D2071762213055976%26id%3D1728146107417590&width=500" width="300" height="600" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    </div>
  </li>
</ul>
</section>
