<section id="press" class="col-1">
<ul class="bullets">
  <li class="bullet">
    <div class="bullet-icon bullet-icon-1">

    </div>
    <div class="bullet-content">
      <h2>Last-minute gift ideas for the Wichita food fan on your list</h2>
      <p>If you have a food fan on your holiday shopping list, restaurant gift cards aren’t your only option. <br><a href="http://www.kansas.com/entertainment/restaurants/dining-with-denise-neil/article121282038.html#storylink=cpy">Read More</a></p>
      </div>
  </li>
  <li class="bullet">
    <div class="bullet-icon bullet-icon-2">

    </div>
    <div class="bullet-content">
      <h2>Business hours update for Christmas and New Year</h2>
        <ul>
          <li>12/24 Christmas Eve(Sat): 11am-9pm</li>
          <li>12/25 Christmas Day(Sun): CLOSED</li>
          <li>12/31 New Year's Eve(Sat): 11am-9pm</li>
          <li>01/01 New Year's Day((Sun): 11am-8pm</li>
        </ul>
    </div>
  </li>
  <li class="bullet">
    <div class="bullet-icon bullet-icon-3">

    </div>
    <div class="bullet-content">
      <h2>Come to try our HOT winter special</h2>
      <p>Baked Cheesy Beef Curry!
It will warm your heart out through this cold weather! <br><a href="https://www.facebook.com/1728146107417590/videos/1864662630432603/">Video Here</a> </p>
    </div>
  </li>
</ul>
</section>
