<section id="services">
  <div class="flex">
    <div class="col-2">
      <h3 class="section-title">RESIDENTIAL & BUSINESS</h3>
        <img src="assets/img/icons/house.png" class="img-show">
      <p><b>Why Moe Clean & More?</b><br>
      We can do more then keep your house clean...We can organize closets or cupboards, walk your dog, pick up your dog waste, do yard work, run errands, go grocery shopping, baby-sit your animals when your on vacation, we can help you pack or unpack if moving, whatever you need. We can discuss your needs when we meet to give you a free estimate.
    </p><br>
    <p>Experience cleaning hard wood, laminate,  linoleum, tile, glazed brick, glazed concrete floors.  I understand the importance of damp mop not wet or dripping and the proper products to be used on the type of floor being cleaned.</p>
    <div class="cta-box">
    <a href="#contact" class="service-cta">SCHEDULE YOUR FREE ESTIMATE</a>
    </div>
    </div>

     <div class="col-2">
       <img src="assets/img/pink-lady.jpg" class="img-hide">
     </div>

  </div>
</section>


<section id="biz-services">
  <div class="flex">
    <div class="col-2">
    <img src="assets/img/blue-clean.jpg" class="bucket">
    </div>

     <div class="col-2">
       <br>
         <p><b>Bathrooms</b><br> Thoroughly cleaned, shower door, tile walls, bathtubs, vanity and sinks including all chrome fixtures, toilets cleaned and sanitized, fronts of cabinets dusted and or damp wipe as needed, general dusting, including removing floor vents to dust and vacuum out, baseboards dusted or damped wiped, wipe light switches and electrical outlets, cobwebs removed from ceilings and corners, mirrors, windows including glass, window sills, ledges & blinds, doors and door frames spot cleaned, floors swept or vacuumed and mopped/sanitized.</p><br>
         <p><b>Kitchens</b><br> Thoroughly cleaned, general dusting, including removing floor vents to dust and vacuum out, all light switches and electrical outlets wiped, baseboards dusted or damped wiped, counter tops and back splashes sanitized, sinks sanitized, including your drain, chrome shined, fronts of all appliances wiped , wipe out refrigerator, unless asked to do a complete clean, microwaves inside and out, stove and stove range, drip pans included, fronts of cabinets, wood oiled or damp wiped, wipe table and all chairs including frame and legs, windows, glass, ledges, sills and blinds, cobwebs removed from ceiling and corners, doors and door frames spot cleaned, vacuumed or swept and mopped/sanitized.</p><br>
         <p><b>Sleeping & Living areas</b><br>
         All baseboards dusted or damped wiped, flat surfaces dusted/wiped, while moving objects not dusting around it, all doors and door frames spot cleaned, all   cobwebs removed from ceilings and corners, all picture frames, glass fronts, wiped/not sprayed, with a damp Windex towel, all ceiling fans, lamps and lamp   shades, all knickknacks, curio cabinets, windows, glass, ledges, sills and blinds, front door glass and sliding doors, all stairs vacuumed, furniture   including under cushions vacuumed, vacuum & or sweep and mop floors; we move furniture/decor to sweep/mop as allowed,  We will change your bed sheets, duvet   covers, blankets, wash/dry and replace all bedding...personal laundry as time permits.
         </p>
      <div class="cta-box-blu">
      <a href="#contact" class="service-cta">SCHEDULE YOUR FIRST CLEANING</a>
      </div>
     </div>

  </div>
</section>
